@{
    ViewBag.Title = "Index";
}

<div class="container-fluid" ng-controller="PackageController">

    <div class="col-lg-12">
        <h2>Package Sense</h2>
        
          
        
            
        
        <div class="card">
            <h3 class="card-header">Featured</h3>
            <div class="card-block">
                <div class="row" style="margin-bottom: 15px;" name="I/O">

                    <div class="form-group">
                        <div class="col-md-7">
                            <label for="basic-url">Search</label>
                            <input type="text" class="form-control" ng-model="search[searchBy]" style="max-width: none;" placeholder="Search for Resident">
                        </div>
                        <div class="col-md-4">
                            <label for="basic-url">Search By:</label>
                            <select ng-model="searchBy" class="form-control">
                                <option value="$">No Filter</option>
                                <option value="FirstName">First Name</option>
                                <option value="LastName">Last Name</option>
                                <option value="RoomNumber">Room Number</option>
                            </select>
                        </div>
                    </div>


                </div>
                <div class="row" name="table-row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Room Number</th>
                                        <th>SELECT</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="b in ResidentList | filter:search">
                                    
                                        <td>{{b.Id}}</td>
                                        <td>{{b.FirstName}}</td>
                                        <td>{{b.LastName}}</td>
                                        <td>{{b.RoomNumber}}</td>
                                        <td><div class="col-md-6">
                                                <a href="" class="btn btn-primary btn-block" style="max-width:none;">View Resident</a>
                                            </div>
                                            <div class="col-md-6">
                                                <button id="uxBTNAddPackage" style="max-width:none;" class="btn btn-info btn-block" data-toggle="modal" ng-click="LoadResident(b)" data-target="#AddPackage">Add a Package</button>
                                            </div>
                                         
                                      </td>
                                    </tr>
                                </tbody>
                               </table>  
                                    
                        </div>
                    </div>


                </div>
                <div class="row">

                </div>
            </div>



        </div>


    </div>
















    <!--Modals-->
    <div class="modal fade bd-example-modal-lg" tabindex="-1"  role="dialog" id="AddPackage" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <form name="Add_Package">
                <div class="modal-content">
                    
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Add New Package</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-success" ng-if="PackageAddStatus" role="alert">
                            <strong>Success!</strong> Package was added to database!
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>Recipient Information</th>
                                        <td>
                                            <div class="form-group" ng-class="{'has-danger': Add_Package.FirstName.$touched && Add_Package.FirstName.$invalid}">
                                                <label class="form-control-label">First Name</label>
                                                <input name="FirstName" class="form-control" ng-model="PackageForm.FName" type="text" required/>
                                                <div class="form-control-feedback" ng-show="Add_Package.FirstName.$touched && Add_Package.FirstName.$invalid">The First Name is required.</div>


                                            </div>

                                        </td>
                                        <td>
                                            <div class="form-group" ng-class="{'has-danger': Add_Package.LastName.$touched && Add_Package.LastName.$invalid}">
                                                <label class="form-control-label">Last Name</label>
                                                <input name="LastName" class="form-control" type="text" ng-model="PackageForm.LName" required/>
                                                <div class="form-control-feedback" ng-show="Add_Package.LastName.$touched && Add_Package.LastName.$invalid">A Last Name description is required.</div>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>Package Information</th>
                                        <td colspan="2">
                                            <div class="col-lg-12">
                                                <div class="row">
                                                    <div class="form-group" ng-class="{ 'has-danger': Add_Package.Location.$touched && Add_Package.Location.$invalid}">
                                                        <label class="form-control-label">Storage Location</label>
                                                        <input style="max-width: none;"
                                                               name="Location"
                                                               ng-model="PackageForm.Location" 
                                                               class="form-control" 
                                                               type="text" 
                                                               required/>
                                                        <div class="form-control-feedback" ng-show="Add_Package.Location.$touched && Add_Package.Location.$invalid">The location is required.</div>
                                                     </div>
                                                    </div>
                                                <div style="margin-top:10px;" class="row">
                                                    <div class="form-group" ng-class="{'has-danger': Add_Package.Description.$touched && Add_Package.Description.$invalid}">
                                                        <label class="form-control-label">Package Description</label>
                                                        <textarea name="Description" ng-model="PackageForm.Description" style="max-width: none;" rows="3" class="form-control" required></textarea>
                                                        <div class="form-control-feedback" ng-show="Add_Package.Description.$touched && Add_Package.Description.$invalid">The package description is required.</div>
                                                    </div>
                                               </div>

                                            </div>

                                        </td>

                                    </tr>
                                </tbody>

                            </table>




                        </div>


                        <pre>{{PackageForm | json}}</pre>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-disabled="Add_Package.$invalid" ng-click="onSubmit()">Save changes</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <script>
        $(document).on("click", "#uxBTNAddPackage", function () {
            var Id = $(this).data('id');
            $(".modal-body #data").val(Id);
            });



    </script>
</div>


            
         




   
       

  
   



